In [1]:
import astroquery.jplhorizons as jpl
import astropy.time as time
import astropy.units as u
import numpy as np
import pandas as pd
import urllib.request
import read_web
from datetime import datetime
import re

In [2]:
# Convert from 1958 Feb. 1 to 1958-02-01
def convert_date(date):
    if date is None:
        return "N/A"
    elif "Sept." in date:
        date = date.replace('Sept.', 'Sep.')
    elif re.search(r'\.\d', date):
        date = date.replace('.', '. ')
    try:
        date_obj = datetime.strptime(date, '%Y %b. %d').strftime('%Y-%m-%d')
    except ValueError as e:
        if any(month in str(e) for month in ("May", "June", "July")):
            date_obj = datetime.strptime(date, '%Y %B %d').strftime('%Y-%m-%d')
        else:
            return "N/A"

    return date_obj

In [6]:
missionTable = read_web.read_website()
# Send table to dataframe, taking columns from the first row
missionTable = pd.DataFrame(missionTable[1:], columns=missionTable[0])
# Uppercase all spacecraft names
missionTable['Spacecraft'] = missionTable['Spacecraft'].str.upper()

# Convert dates to astropy time objects
missionTable['Launch Date (UT)'] = [convert_date(date) for date in missionTable['Launch Date (UT)']]

# Set spacecraft name in 75-78 as MMS 1-4
missionTable.loc[75:78, 'Spacecraft'] = ['MMS 1', 'MMS 2', 'MMS 3', 'MMS 4']

# If spacecraft contains CLUSTER, split at space and take second element
missionTable.loc[missionTable['Spacecraft'].str.contains('CLUSTER'), 'Spacecraft'] = \
    missionTable.loc[missionTable['Spacecraft'].str.contains('CLUSTER'), 'Spacecraft'].str.split().str[1]

# 
clusterDict = {"SAMBA": "CLUSTER II-FM7 (SAMBA)", "SALSA": "CLUSTER II-FM6 (SALSA)", "TANGO": "CLUSTER II-FM8 (TANGO)", "RUMBA": "CLUSTER II-FM5 (RUMBA)"}
missionTable['Spacecraft'] = missionTable['Spacecraft'].replace(clusterDict)

# If no launch date, remove
missionTable = missionTable[~missionTable['Launch Date (UT)'].str.contains("N/A")]

# If "fail" in second column, remove row
missionTable = missionTable[~missionTable.iloc[:,1].str.contains("fail")]

#missionTable[25:]

In [3]:
# Import satcat.csv from Celestrak
# https://celestrak.org/pub/satcat.csv

# First download the latest satcat.csv file from Celestrak
# https://celestrak.com/pub/satcat.csv

url = 'https://celestrak.com/pub/satcat.csv'
filename = 'satcat.csv'
urllib.request.urlretrieve(url, filename)

('satcat.csv', <http.client.HTTPMessage at 0x255b5187ca0>)

In [7]:
# Read satcat.csv into a pandas dataframe
satcat = pd.read_csv(filename)

In [8]:
missionList = missionTable["Spacecraft"]
spacecraft = missionList

In [10]:
# Get lines with spacecraft names from satcat
# and add to new dataframe
spacecraft = [craft.upper() for craft in spacecraft]
mask = satcat['OBJECT_NAME'].isin(spacecraft)
new_df = satcat[mask]
print(len(new_df))
new_df

37

,OBJECT_NAME,OBJECT_ID,NORAD_CAT_ID,OBJECT_TYPE,OPS_STATUS_CODE,OWNER,LAUNCH_DATE,LAUNCH_SITE,DECAY_DATE,PERIOD,INCLINATION,APOGEE,PERIGEE,RCS,DATA_STATUS_CODE,ORBIT_CENTER,ORBIT_TYPE
3,EXPLORER 1,1958-001A,4,PAY,D,US,1958-02-01,AFETR,1970-03-31,88.48,33.15,215.0,183.0,NaN,NaN,EA,IMP
5,EXPLORER 3,1958-003A,6,PAY,D,US,1958-03-26,AFETR,1958-06-28,103.60,33.50,1739.0,117.0,NaN,NaN,EA,IMP
8,EXPLORER 4,1958-005A,9,PAY,D,US,1958-07-26,AFETR,1959-10-23,92.81,50.25,585.0,239.0,NaN,NaN,EA,IMP
21,EXPLORER 7,1959-009A,22,PAY,NaN,US,1959-10-13,AFETR,NaN,95.86,50.28,646.0,475.0,0.5003,NaN,EA,ORB
109,PIONEER 1,1958-007A,110,PAY,D,US,1958-10-11,AFETR,1958-10-12,NaN,NaN,NaN,NaN,NaN,NIE,EA,IMP
110,PIONEER 3,1958-008A,111,PAY,D,US,1958-12-06,AFETR,1958-12-07,NaN,NaN,NaN,NaN,NaN,NIE,EA,IMP
112,PIONEER 4,1959-013A,113,PAY,NaN,US,1959-03-03,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SU,ORB
169,EXPLORER 12,1961-020A,170,PAY,D,US,1961-08-15,AFETR,1963-09-30,1594.62,33.83,76977.0,693.0,NaN,NaN,EA,IMP
204,TRAAC,1961-031B,205,PAY,NaN,US,1961-11-15,AFETR,NaN,105.69,32.44,1102.0,951.0,0.5519,NaN,EA,ORB
246,DISCOVERER 38,1962-005A,247,PAY,D,US,1962-02-27,AFWTR,1962-03-21,88.32,82.23,201.0,182.0,NaN,NaN,EA,IMP
373,MARINER 2,1962-041A,374,PAY,NaN,US,1962-08-27,AFETR,NaN,NaN,NaN,NaN,NaN,0.0005,NEA,SU,ORB
503,INJUN 3,1962-067B,504,PAY,D,US,1962-12-13,AFWTR,1968-08-25,87.95,70.21,185.0,161.0,NaN,NaN,EA,IMP
878,OGO 1,1964-054A,879,PAY,D,US,1964-09-05,AFETR,2020-08-29,3807.68,79.79,136166.0,12624.0,1.0000,NaN,EA,IMP
937,MARINER 4,1964-077A,938,PAY,NaN,US,1964-11-28,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SU,ORB
2194,OGO 3,1966-049A,2195,PAY,D,US,1966-06-07,AFETR,1981-09-14,2911.48,76.32,106308.0,16019.0,NaN,NaN,EA,IMP
2844,MARINER 5,1967-060A,2845,PAY,NaN,US,1967-06-14,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SU,ORB
2894,OGO 4,1967-073A,2895,PAY,D,US,1967-07-28,AFWTR,1972-08-16,88.61,85.93,223.0,189.0,NaN,NaN,EA,IMP
3137,OGO 5,1968-014A,3138,PAY,D,US,1968-03-04,AFETR,2011-07-02,828.23,49.09,45567.0,105.0,1.2589,NaN,EA,IMP
5859,PIONEER 10,1972-012A,5860,PAY,NaN,US,1972-03-03,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SS,ORB
6420,PIONEER 11,1973-019A,6421,PAY,NaN,US,1973-04-06,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SS,ORB
7566,HELIOS 1,1974-097A,7567,PAY,-,GER,1974-12-10,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SU,ORB
8581,HELIOS 2,1976-003A,8582,PAY,-,GER,1976-01-15,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SU,ORB
10270,VOYAGER 2,1977-076A,10271,PAY,X,US,1977-08-20,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SS,ORB
10320,VOYAGER 1,1977-084A,10321,PAY,X,US,1977-09-05,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SS,ORB
20711,CRRES,1990-065A,20712,PAY,NaN,US,1990-07-25,AFETR,NaN,581.89,18.20,33098.0,322.0,6.0779,NaN,EA,ORB
23332,WIND,1994-071A,23333,PAY,+,US,1994-11-01,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,EL1,ORB
23801,POLAR,1996-013A,23802,PAY,P,US,1996-02-24,AFWTR,NaN,1108.99,78.95,49631.0,8594.0,6.0269,NaN,EA,ORB
26409,CLUSTER II-FM7 (SAMBA),2000-041A,26410,PAY,+,ESA,2000-07-16,TYMSC,NaN,3256.92,136.83,115754.0,17056.0,1.9953,NaN,EA,ORB
26410,CLUSTER II-FM6 (SALSA),2000-041B,26411,PAY,+,ESA,2000-07-16,TYMSC,NaN,3257.59,142.67,127927.0,4904.0,1.5849,NaN,EA,ORB
26462,CLUSTER II-FM5 (RUMBA),2000-045A,26463,PAY,+,ESA,2000-08-09,TYMSC,NaN,3256.36,145.56,124239.0,8555.0,1.9953,NaN,EA,ORB
26463,CLUSTER II-FM8 (TANGO),2000-045B,26464,PAY,+,ESA,2000-08-09,TYMSC,NaN,3256.36,136.86,115728.0,17065.0,1.5887,NaN,EA,ORB
27815,MARS EXPRESS,2003-022A,27816,PAY,+,ESA,2003-06-02,TYMSC,NaN,NaN,NaN,NaN,NaN,NaN,NEA,MA,ORB
37772,JUNO,2011-040A,37773,PAY,+,US,2011-08-05,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,JU,ORB
40481,MMS 1,2015-011A,40482,PAY,+,US,2015-03-13,AFETR,NaN,5034.93,31.94,180513.0,1350.0,3.2865,NaN,EA,ORB
40482,MMS 2,2015-011B,40483,PAY,+,US,2015-03-13,AFETR,NaN,5034.91,31.94,180528.0,1335.0,3.3730,NaN,EA,ORB
40483,MMS 3,2015-011C,40484,PAY,+,US,2015-03-13,AFETR,NaN,5034.92,31.94,180509.0,1353.0,2.6555,NaN,EA,ORB
40484,MMS 4,2015-011D,40485,PAY,+,US,2015-03-13,AFETR,NaN,5034.91,31.93,180514.0,1349.0,2.1286,NaN,EA,ORB

In [11]:
# Move active spacecraft to new dataframe
# judging activity by the "DECAY_DATE" column
# if the spacecraft has not decayed, it is active

active_df = new_df[new_df['DECAY_DATE'].isnull()]
print(len(active_df))
active_df

25

,OBJECT_NAME,OBJECT_ID,NORAD_CAT_ID,OBJECT_TYPE,OPS_STATUS_CODE,OWNER,LAUNCH_DATE,LAUNCH_SITE,DECAY_DATE,PERIOD,INCLINATION,APOGEE,PERIGEE,RCS,DATA_STATUS_CODE,ORBIT_CENTER,ORBIT_TYPE
21,EXPLORER 7,1959-009A,22,PAY,NaN,US,1959-10-13,AFETR,NaN,95.86,50.28,646.0,475.0,0.5003,NaN,EA,ORB
112,PIONEER 4,1959-013A,113,PAY,NaN,US,1959-03-03,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SU,ORB
204,TRAAC,1961-031B,205,PAY,NaN,US,1961-11-15,AFETR,NaN,105.69,32.44,1102.0,951.0,0.5519,NaN,EA,ORB
373,MARINER 2,1962-041A,374,PAY,NaN,US,1962-08-27,AFETR,NaN,NaN,NaN,NaN,NaN,0.0005,NEA,SU,ORB
937,MARINER 4,1964-077A,938,PAY,NaN,US,1964-11-28,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SU,ORB
2844,MARINER 5,1967-060A,2845,PAY,NaN,US,1967-06-14,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SU,ORB
5859,PIONEER 10,1972-012A,5860,PAY,NaN,US,1972-03-03,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SS,ORB
6420,PIONEER 11,1973-019A,6421,PAY,NaN,US,1973-04-06,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SS,ORB
7566,HELIOS 1,1974-097A,7567,PAY,-,GER,1974-12-10,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SU,ORB
8581,HELIOS 2,1976-003A,8582,PAY,-,GER,1976-01-15,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SU,ORB
10270,VOYAGER 2,1977-076A,10271,PAY,X,US,1977-08-20,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SS,ORB
10320,VOYAGER 1,1977-084A,10321,PAY,X,US,1977-09-05,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,SS,ORB
20711,CRRES,1990-065A,20712,PAY,NaN,US,1990-07-25,AFETR,NaN,581.89,18.20,33098.0,322.0,6.0779,NaN,EA,ORB
23332,WIND,1994-071A,23333,PAY,+,US,1994-11-01,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,EL1,ORB
23801,POLAR,1996-013A,23802,PAY,P,US,1996-02-24,AFWTR,NaN,1108.99,78.95,49631.0,8594.0,6.0269,NaN,EA,ORB
26409,CLUSTER II-FM7 (SAMBA),2000-041A,26410,PAY,+,ESA,2000-07-16,TYMSC,NaN,3256.92,136.83,115754.0,17056.0,1.9953,NaN,EA,ORB
26410,CLUSTER II-FM6 (SALSA),2000-041B,26411,PAY,+,ESA,2000-07-16,TYMSC,NaN,3257.59,142.67,127927.0,4904.0,1.5849,NaN,EA,ORB
26462,CLUSTER II-FM5 (RUMBA),2000-045A,26463,PAY,+,ESA,2000-08-09,TYMSC,NaN,3256.36,145.56,124239.0,8555.0,1.9953,NaN,EA,ORB
26463,CLUSTER II-FM8 (TANGO),2000-045B,26464,PAY,+,ESA,2000-08-09,TYMSC,NaN,3256.36,136.86,115728.0,17065.0,1.5887,NaN,EA,ORB
27815,MARS EXPRESS,2003-022A,27816,PAY,+,ESA,2003-06-02,TYMSC,NaN,NaN,NaN,NaN,NaN,NaN,NEA,MA,ORB
37772,JUNO,2011-040A,37773,PAY,+,US,2011-08-05,AFETR,NaN,NaN,NaN,NaN,NaN,NaN,NEA,JU,ORB
40481,MMS 1,2015-011A,40482,PAY,+,US,2015-03-13,AFETR,NaN,5034.93,31.94,180513.0,1350.0,3.2865,NaN,EA,ORB
40482,MMS 2,2015-011B,40483,PAY,+,US,2015-03-13,AFETR,NaN,5034.91,31.94,180528.0,1335.0,3.3730,NaN,EA,ORB
40483,MMS 3,2015-011C,40484,PAY,+,US,2015-03-13,AFETR,NaN,5034.92,31.94,180509.0,1353.0,2.6555,NaN,EA,ORB
40484,MMS 4,2015-011D,40485,PAY,+,US,2015-03-13,AFETR,NaN,5034.91,31.93,180514.0,1349.0,2.1286,NaN,EA,ORB

In [12]:
# Remove all columns except "OBJECT_NAME" "OBJECT_ID" "NORAD_CAT_ID" "LAUNCH_DATE" "OWNER" "ORBIT_CENTER"
active_df = active_df[['OBJECT_NAME', 'OBJECT_ID', 'NORAD_CAT_ID', 'LAUNCH_DATE', 'OWNER', 'ORBIT_CENTER']]
active_df

,OBJECT_NAME,OBJECT_ID,NORAD_CAT_ID,LAUNCH_DATE,OWNER,ORBIT_CENTER
21,EXPLORER 7,1959-009A,22,1959-10-13,US,EA
112,PIONEER 4,1959-013A,113,1959-03-03,US,SU
204,TRAAC,1961-031B,205,1961-11-15,US,EA
373,MARINER 2,1962-041A,374,1962-08-27,US,SU
937,MARINER 4,1964-077A,938,1964-11-28,US,SU
2844,MARINER 5,1967-060A,2845,1967-06-14,US,SU
5859,PIONEER 10,1972-012A,5860,1972-03-03,US,SS
6420,PIONEER 11,1973-019A,6421,1973-04-06,US,SS
7566,HELIOS 1,1974-097A,7567,1974-12-10,GER,SU
8581,HELIOS 2,1976-003A,8582,1976-01-15,GER,SU
10270,VOYAGER 2,1977-076A,10271,1977-08-20,US,SS
10320,VOYAGER 1,1977-084A,10321,1977-09-05,US,SS
20711,CRRES,1990-065A,20712,1990-07-25,US,EA
23332,WIND,1994-071A,23333,1994-11-01,US,EL1
23801,POLAR,1996-013A,23802,1996-02-24,US,EA
26409,CLUSTER II-FM7 (SAMBA),2000-041A,26410,2000-07-16,ESA,EA
26410,CLUSTER II-FM6 (SALSA),2000-041B,26411,2000-07-16,ESA,EA
26462,CLUSTER II-FM5 (RUMBA),2000-045A,26463,2000-08-09,ESA,EA
26463,CLUSTER II-FM8 (TANGO),2000-045B,26464,2000-08-09,ESA,EA
27815,MARS EXPRESS,2003-022A,27816,2003-06-02,ESA,MA
37772,JUNO,2011-040A,37773,2011-08-05,US,JU
40481,MMS 1,2015-011A,40482,2015-03-13,US,EA
40482,MMS 2,2015-011B,40483,2015-03-13,US,EA
40483,MMS 3,2015-011C,40484,2015-03-13,US,EA
40484,MMS 4,2015-011D,40485,2015-03-13,US,EA